#include "Resource.h"
#include <windows.h>

IDM_MAIN_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Generate &Graph Params", IDM_GENERATE_DIALOG
        MENUITEM "&Generate Graph", IDM_GENERATE_GRAPH
        MENUITEM "E&xit", IDM_EXIT
    END
END

IDD_PARAM_DIALOG DIALOGEX 0,0,200,140
STYLE WS_CAPTION | WS_SYSMENU
CAPTION "Graph Params"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Min Vertices:", -1, 10,10,60,10
    EDITTEXT IDC_EDIT_MINV, 80, 10, 40, 12, ES_NUMBER
    LTEXT "Max Vertices:", -1, 10,30,60,10
    EDITTEXT IDC_EDIT_MAXV, 80, 30, 40, 12, ES_NUMBER

    LTEXT "Min Edges:", -1, 10,50,60,10
    EDITTEXT IDC_EDIT_MINE, 80,50,40,12,ES_NUMBER
    LTEXT "Max Edges:", -1,10,70,60,10
    EDITTEXT IDC_EDIT_MAXE,80,70,40,12,ES_NUMBER

    CONTROL "Directed", IDC_CHECK_DIRECTED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10,90,60,10
    CONTROL "Weighted", IDC_CHECK_WEIGHTED, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 80,90,60,10

    PUSHBUTTON "OK", IDC_BUTTON_OK, 50,110,40,14,WS_TABSTOP
    PUSHBUTTON "Cancel", IDC_BUTTON_CANCEL,100,110,40,14,WS_TABSTOP
END
